body.cp-delivery__home {
  .cp-delivery__content {
    position:relative;
    padding-top:53px;
    .back-button {
      top:-17px;
      left:0;
      width: 217px;
      height: 37px;
      box-shadow: 0px 8px 16px rgba($salmon, .36);
      border-radius: 19px;
      background:$salmon;
      color:$white;
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:14px;
      line-height:16px;
      font-family: $f-light;
      text-decoration: none;
      transition:all .25s ease-in-out;
      @include mobile {
        left:0;
        right:0;
        margin:0 auto;
      }
      &:hover {
        background:lighten($salmon, 2%);
        box-shadow: 0px 8px 16px rgba($salmon, .36);
      }
      .icon-chevron-right {
        width:18px;
        height:10px;
        display:inline-block;
        background:$icon-chevron-left;
        transform:rotate(180deg);
        margin-right:32px;
      }
    }
  }
}