@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZKCM.ttf) format('truetype')
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-59U.ttf) format('truetype')
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meKCM.ttf) format('truetype')
}

@font-face {
  font-family: "TT Norms Regular";
  src: url(https://coopsp.vteximg.com.br/arquivos/TTNorms-Regular.otf.css);
  src: url(https://coopsp.vteximg.com.br/arquivos/TTNorms-Regular.woff2.css) format("woff2"),url(https://coopsp.vteximg.com.br/arquivos/TTNorms-Regular.woff.css) format("woff")
}

@font-face {
  font-family: "TT Norms Light";
  src: url(https://coopsp.vteximg.com.br/arquivos/TTNorms-Light.otf.css);
  src: url(https://coopsp.vteximg.com.br/arquivos/TTNorms-Light.woff2.css) format("woff2"),url(https://coopsp.vteximg.com.br/arquivos/TTNorms-Light.woff.css) format("woff")
}