<footer class="cp-delivery__footer">
  <div class="container">
    <a href="https://cooplojaonline.com.br/" class="back-button">
      <span class="icon icon-chevron-right"></span> Voltar ao site principal
    </a>
    <h2>COOP COOPERATIVA DE CONSUMO - 2020</h2>
  </div>
</footer>