<header class="cp-delivery__header">
  <div class="container">
    <div class="cp-delivery__header--inner">
      <div class="cp-delivery__header--logo">
        <a href="/">
          <img src="/images/logo.png" width="197" alt="Coop Delivery" />
        </a>
      </div>
      <div class="cp-delivery__header--search-box">
        <div class="form-group">
          <input type="text" name="search" id="search" placeholder="O que você está procurando?" />
          <button class="btn-search">
            <svg xmlns="http://www.w3.org/2000/svg" width="22.121" height="22.121" viewBox="0 0 22.121 22.121"><defs><style>.a,.b,.d{fill:none;}.a,.b{stroke:#fff;stroke-width:3px;}.b{stroke-linecap:round;}.c{stroke:none;}</style></defs><g transform="translate(-1086 -45)"><g class="a" transform="translate(1086 45)"><circle class="c" cx="10" cy="10" r="10"/><circle class="d" cx="10" cy="10" r="8.5"/></g><line class="b" x2="3" y2="3" transform="translate(1103 62)"/></g></svg>
          </button>
        </div>
      </div>
      <div class="cp-delivery__header--store">
        <p>Preço e Estoque da loja (108)</p>
        <a href="#" class="btn-logout">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.163" height="20.067" viewBox="0 0 17.163 20.067">
            <g id="Grupo_13" data-name="Grupo 13" transform="translate(-1230.704 -60.5)">
              <path id="Caminho_8" data-name="Caminho 8" d="M1237,61h5.333V79.067H1237" transform="translate(4.533 0.5)" fill="none" stroke="#f76c4c" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              <path id="Caminho_9" data-name="Caminho 9" d="M1238.5,70.033h-7.1" transform="translate(3.029 1.139)" fill="none" stroke="#f76c4c" stroke-linecap="round" stroke-width="2"/>
              <path id="Caminho_10" data-name="Caminho 10" d="M1229.817,61l-3.713,3.713,3.713,3.713" transform="translate(6.015 6.667)" fill="none" stroke="#f76c4c" stroke-linecap="round" stroke-width="2"/>
            </g>
          </svg>
          Sair</a>
      </div>
      <div class="cp-delivery__header--actions">
        <div class="cp-delivery__header--user">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="27.938" height="31" viewBox="0 0 27.938 31"><defs><style>.a{fill:none;stroke:#fffdfd;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><g transform="translate(1 0.731)"><path class="a" d="M29.938,24.727V21.485A6.485,6.485,0,0,0,23.454,15H10.485A6.485,6.485,0,0,0,4,21.485v3.242" transform="translate(-4 4.542)"/><circle class="a" cx="6.5" cy="6.5" r="6.5" transform="translate(6.013 0.269)"/></g></svg>
          </a>
        </div>
        <div class="cp-delivery__header--cart">
          <a href="#">
            <div class="badge-qty">
              01
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="29.035" height="30.344" viewBox="0 0 29.035 30.344"><g id="shopping-cart" transform="translate(1 1)"><g id="Elipse_8" data-name="Elipse 8" transform="translate(9.849 24.344)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="1.5" cy="1.5" r="1.5" stroke="none"/><circle cx="1.5" cy="1.5" r="2.5" fill="none"/></g><g id="Elipse_9" data-name="Elipse 9" transform="translate(20.849 24.344)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="1.5" cy="1.5" r="1.5" stroke="none"/><circle cx="1.5" cy="1.5" r="2.5" fill="none"/></g><path id="Caminho_7" data-name="Caminho 7" d="M1,1H5.916L9.209,17.455a2.458,2.458,0,0,0,2.458,1.979H23.611a2.458,2.458,0,0,0,2.458-1.979l1.966-10.31H7.144" transform="translate(-1 -1)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></g></svg>
            <div class="badge-content">
              <strong>Olá, Marcelo!</strong>
              <p>Os seus produtos estão no carrinho. Continue comprando e ao término de sua compra, clique no carrinho para finalizar o processo.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>